*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header, footer{
    background-color: yellowgreen;
    height: 130px;
    padding: 10px;
}
main{
    height: 500px;
    display: flex;
}
nav{
    background-color: lightblue;
    width: 20%;
    padding: 10px;
}
article{
    background-color: lightgray;
    padding: 10px;
    width: 60%;
}
aside{
    background-color: lightyellow;
    padding: 10px;
    width: 20%;
}