/* 
    Website name: Responsive Web Design
    Author: Glenn Andaleon
    Description: For activity purposes only
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: grid;
    grid-template-rows: 200px 50px 300px;
}
.header {
    background-color: rgb(62, 153, 62);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: black;
}
.menu ul{
    display: flex;
    gap: 30px;
    padding: 0 20px;
}
.menu ul li{
    list-style-type: none;
    font-size: 20px;
    color: white;
}
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.content-item {
    padding: 20px;
    border: 2px solid rgb(62, 153, 62);
}
.content-item h1, .content-item p{
    margin: 30px 0;
}

/* mobile device || width: 468px and below */
@media screen and (max-width: 468px) {
    .container {
        grid-template-rows: 100px 50px 300px;
        width: 100%;
    }
    .menu {
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: black;
        width: 100%;
    }
    .content{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}